@charset "utf-8";

/*-------- Index Page */

.home-page > .rw-header {
    height: 670px;
}

.rw-header-bg-wrap {
    font-size: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;
}

.rw-header-bg-wrap > figure {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.rw-header-bg-btns {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.rw-header-btn {
    border: 1px solid #fff;
    border-radius: 21px;
    color: #fff;
    display: none;
    height: 40px;
    line-height: 40px;
    left: 50%;
    margin: 59px 0 0 -103px; /* top = -21 + 80 = 59 */
    position: absolute;
    text-align: center;
    -webkit-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    top: 50%;
    width: 205px;
    z-index: 5;
}

.rw-header-btn:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .8);
    color: #171717;
}

.rw-header-bg-btns > .on {
    display: block;
}

.rw-slider {
    background: url(../images/slider-bg.png) repeat 0 0;
    bottom: 0;
    height: 130px;
    left: 0;
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 1px) {
    .rw-slider {
        background: rgba(0, 0, 0, .2);
    }
}

.rw-slider > .rw-container {
    font-size: 0;
    text-align: center;
    position: relative;
}

.rw-slider-thumb {
    background-color: #eee;
    cursor: pointer;
    display: inline-block;
    height: 111px;
    margin: 9px 5px 0;
    position: relative;
    overflow: hidden;
    width: 247px;
}

@media screen and (min-width: 1px) {
    .rw-slider-thumb:after {
        background-color: rgba(0, 0, 0, .4);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        -webkit-transition: opacity .3s ease 0s;
        -ms-transition: opacity .3s ease 0s;
        transition: opacity .3s ease 0s;
        top: 0;
        width: 100%;
    }

    .rw-slider-thumb:hover:after,
    .rw-slider .on:after {
        opacity: 0;
    }
}

.rw-slider-thumb > img {
    max-width: 100%;
}

.rw-slider-prev,
.rw-slider-next {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    color: #666;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: -15px 0 0;
    opacity: .6;
    position: absolute;
    text-align: center;
    text-indent: -9999em;
    top: 50%;
    width: 30px;
}

.rw-slider-prev {
    background-position: -35px -162px;
    left: 0;
}

.rw-slider-next {
    background-position: -35px -193px;
    right: 0;
}

.rw-slider-prev:hover,
.rw-slider-next:hover {
    opacity: .8;
}

.home-page > .rw-body {
    margin: 40px 0 0;
}

.rw-view-pdt {
    padding: 0 0 80px;
}

.rw-view-pdt-new {
    width: 764px;
}

.rw-view-pdt-new-item {
    margin: 44px 52px 0 0;
    width: 330px;
}

.rw-view-pdt-new-item > a {
    display: block;
    height: 210px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.rw-view-pdt-new-item img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (min-height: 1px) {
    .rw-view-pdt-new-item img {
        bottom: auto;
        left: auto;
        position: relative;
        right: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.rw-view-pdt-new-item > h3 {
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0 0;
}

.rw-view-pdt-pdts-list {
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 14px;
    line-height: 44px;
    margin: 44px 0 0;
    padding: 10px 0;
    width: 229px;
}

.rw-view-pdt-pdts-list > li {
    padding: 0 33px;
}

.rw-view-pdt-pdts-list > li:hover {
    background-color: #eee;
}

.rw-view-videos {
    border-top: 1px solid #d2d2d2;
    padding: 44px 0 80px;
}

.rw-view-video-list {
    margin: 26px 0 0;
}

.rw-view-video-item {
    float: left;
    margin: 0 0 0 20px;
}

.rw-view-video-item:first-child {
    margin: 0;
}

.rw-view-video-item-link {
    background-color: #eee;
    display: block;
    height: 117px;
    overflow: hidden;
    position: relative;
    width: 184px;
}

.rw-view-video-item-link > img {
    max-width: 100%;
}

.rw-view-video-item-link:before,
.rw-view-video-item-link:after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    －webkit-transition: all .4s ease 0s;
    －ms-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    width: 100%;
}

.rw-view-video-item-link:before {
    background: url(../images/video.png) no-repeat 50% 50%;
    display: none;
}

.rw-view-video-item-link:hover:before {
    display: block;
}

.rw-view-video-item-link:after {
    background: url(../images/o-100-8.png) repeat 0 0;
}

.rw-view-video-item-link:hover:after {
    background: none;
}

@media screen and (min-width: 1px) {
    .rw-view-video-item-link:before {
        display: block;
        opacity: 0;
    }

    .rw-view-video-item-link:hover:before {
        opacity: 1;
    }

    .rw-view-video-item-link:after {
        background-color: rgba(100, 100, 100, .8);
    }

    .rw-view-video-item-link:hover:after {
        background-color: rgba(100, 100, 100, 0);
    }
}

.rw-view-video-item > p {
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 0 1px 1px;
    color: #333;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

#video-player {
    background: url(../images/o-2.png) repeat 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

@media screen and (min-width: 1px) {
    #video-player {
        background: rgba(0, 0, 0, .2);
    }
}

#video-player > iframe {
    background-color: #000;
    height: 360px;
    left: 50%;
    margin: -210px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}

#video-close {
    background-color: #fff;
    border-radius: 25px;
    color: #666;
    font-family: Tahoma;
    font-size: 34px;
    height: 50px;
    left: 50%;
    line-height: 48px;
    margin: -250px 0 0 310px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 50px;
}

#video-close:hover {
    color: #333;
}

.rw-view-news {
    background-color: #e4e4e4;
    color: #000;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
}

.rw-view-news h3,
.rw-view-news ul {
    float: left;
}

.rw-view-news h3 {
    width: 70px;
}

.rw-view-news ul {
    height: 36px;
    overflow: hidden;
}

.rw-view-news li {
    padding: 0 20px 0 10px;
}

.rw-view-news a {
    color: #08a4e5;
}