@charset "utf-8";

/*-------- Index Page */

.home-page > .rw-header {
    height: 670px;
}

.rw-header-bg-wrap {
    font-size: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;
}

.rw-header-bg-wrap > figure {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.rw-header-bg-btns {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.rw-header-btn {
    border: 1px solid #fff;
    border-radius: 21px;
    color: #fff;
    display: none;
    height: 40px;
    line-height: 40px;
    left: 50%;
    margin: 59px 0 0 -103px; /* top = -21 + 80 = 59 */
    position: absolute;
    text-align: center;
    -webkit-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    top: 50%;
    width: 205px;
    z-index: 5;
}

.rw-header-btn:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .8);
    color: #171717;
}

.rw-header-bg-btns > .on {
    display: block;
}

.rw-slider {
    background: url(../images/slider-bg.png) repeat 0 0;
    bottom: 0;
    height: 130px;
    left: 0;
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 1px) {
    .rw-slider {
        background: rgba(0, 0, 0, .2);
    }
}

.rw-slider > .rw-container {
    font-size: 0;
    text-align: center;
    position: relative;
}

.rw-slider-thumb {
    background-color: #eee;
    cursor: pointer;
    display: inline-block;
    height: 111px;
    margin: 9px 5px 0;
    position: relative;
    overflow: hidden;
    width: 247px;
}

@media screen and (min-width: 1px) {
    .rw-slider-thumb:after {
        background-color: rgba(0, 0, 0, .4);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        -webkit-transition: opacity .3s ease 0s;
        -ms-transition: opacity .3s ease 0s;
        transition: opacity .3s ease 0s;
        top: 0;
        width: 100%;
    }

    .rw-slider-thumb:hover:after,
    .rw-slider .on:after {
        opacity: 0;
    }
}

.rw-slider-thumb > img {
    max-width: 100%;
}

.rw-slider-prev,
.rw-slider-next {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    color: #666;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: -15px 0 0;
    opacity: .6;
    position: absolute;
    text-align: center;
    text-indent: -9999em;
    top: 50%;
    width: 30px;
}

.rw-slider-prev {
    background-position: -35px -162px;
    left: 0;
}

.rw-slider-next {
    background-position: -35px -193px;
    right: 0;
}

.rw-slider-prev:hover,
.rw-slider-next:hover {
    opacity: .8;
}

.home-page > .rw-body {
    margin: 40px 0 0;
}

.rw-view-pdt {
    padding: 0 0 80px;
}

.rw-view-pdt-new {
    width: 764px;
}

.rw-view-pdt-new-item {
    margin: 44px 52px 0 0;
    width: 330px;
}

.rw-view-pdt-new-item > img {
    background-color: #eee;
    height: 210px;
    width: 100%;
}

.rw-view-pdt-new-item > h3 {
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0 0;
}

.rw-view-pdt-pdts-list {
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 14px;
    line-height: 44px;
    margin: 44px 0 0;
    padding: 10px 0;
    width: 229px;
}

.rw-view-pdt-pdts-list > li {
    padding: 0 33px;
}

.rw-view-pdt-pdts-list > li:hover {
    background-color: #eee;
}

.rw-view-news {
    border-top: 1px solid #d2d2d2;
    padding: 44px 0 80px;
}

.rw-view-news-articles > img {
    max-width: 100%;
}

.rw-view-news-articles > h3 {
    font-weight: bold;
}

.rw-view-news-articles > time {
    display: block;
    font-size: 14px;
}

.rw-view-news-articles > p {
    color: #999;
}

.rw-view-news-head {
    padding: 52px 0 0;
    width: 484px;
}

.rw-view-news-head > img {
    background-color: #eee;
    min-height: 240px;
    max-width: 100%;
}

.rw-view-news-head > h3 {
    font-size: 20px;
    line-height: 58px;
}

.rw-view-news-head > time {
    height: 38px;
}

.rw-view-news-head > p {
    line-height: 24px;
    text-align: justify;
}

.rw-view-news-other {
    padding: 52px 0 0;
    width: 514px;
}

.rw-view-news-other > .rw-view-news-articles {
    float: left;
    margin: 0 0 50px 27px;
    width: 230px;
}

.rw-view-news-other img {
    background-color: #eee;
    height: 120px;
    width: 230px;
}

.rw-view-news-other h3,
.rw-view-news-other time {
    font-size: 14px;
    line-height: 30px;
}












