@charset "utf-8";

/*-------- News List */

.rw-body {
    background-color: #f7f8f9;
}

.rw-body > .rw-container {
    background-color: #fff;
}

.news-list > .rw-header {
    height: 330px;
}

.rw-news-list {
    padding: 0 26px 130px;
    width: 595px;
}

.rw-news-list-item {
    border-bottom: 1px solid #dcdcdc;
    margin: 52px 0 0;
    padding: 0 0 45px;
}

.rw-news-list-item header {
    height: 36px;
}

.rw-news-list-item h2 {
    font-size: 20px;
    font-weight: bold;
}

.rw-news-list-item time {
    color: #999;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    line-height: 24px;
}

.rw-news-list-item p {
    font-size: 12px;
    line-height: 24px;
    text-align: justify;
}

.rw-news-aside {
    border-color: #f6f6f6;
    border-style: solid;
    border-width: 0 1px 1px;
    margin: 35px 42px 0 0;
    width: 239px;
}

.rw-news-aside-list {
    border-top: 1px solid #f6f6f6;
    padding: 30px 26px 12px;
}

.rw-title-bar > h2 {
    font-size: 20px;
    height: 22px;
    margin: 0 0 12px;
}

.rw-news-aside-list > ul {
    color: #666;
    font-size: 14px;
    line-height: 40px;
    padding: 0 0 0 5px;
}