@charset "utf-8";

/*-------- News List */

.rw-body {
    background-color: #f7f8f9;
}

.rw-body > .rw-container {
    background-color: #fff;
}

.product-list > .rw-header {
    height: 330px;
}

.rw-products {
    padding: 52px 20px 58px;
}

.rw-products-title {
    padding: 0 0 45px;
}

.rw-product-nav {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    line-height: 44px;
    padding: 15px 32px 5px;
    width: 150px;
}

.rw-product-nav > li {
    color: #000;
    font-size: 14px;
}

.rw-product-nav li {
    overflow: hidden;
    white-space: nowrap;
}

.rw-product-nav > .on > a,
.rw-product-sub-nav > .on > a {
    color: #999;
}

.rw-product-sub-nav {
    display: none;
    padding: 0 0 0 20px;
}

.rw-product-list {
    width: 735px;
}

.rw-product-list-item {
    border: 1px solid #dcdcdc;
    float: left;
    height: 328px;
    margin: 0 0 11px 15px;
    -webkit-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    width: 228px;
}

.rw-product-list-item:hover {
    box-shadow: 0 3px 5px rgba(124, 124, 124, .4);
}

.rw-product-list-item > figure {
    font-size: 0;
    height: 258px;
    line-height: 258px;
}

.rw-product-list-item img {
    background-color: #f7f8f9;
    max-width: 100%;
    vertical-align: middle;
}

.rw-product-list-item h3 {
    border-top: 2px solid #ececec;
    font-size: 14px;
    line-height: 68px;
    text-align: center;
}